


.animaldetails{
color: blue;
font-size: 1rem;
font-weight: 100;
}

.class{
    color:red;
    font-weight: 500;
}
.class1{
    color:yellow;
    font-weight: 800;
}
.stateclass{
    color:black;
    font-size: 2rem;
}

